*{
    margin: 0%;
    padding: 0%;
}

#s{
    text-align: center;
    margin-top: 20px;
}

.h{
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
}

#sy{
    margin-top: 40px;
    text-align: center;
} button{
    height: 70px;
    width: 180px;
    border-radius: 100px;
    background-color: black;
    outline: 2px solid transparent;
    color: aliceblue;
} button:hover{
    background-color: rgb(38, 73, 107);
}

#sk{
    text-align: center;
    margin-top: 40px;
}